<link rel="shortcut icon" href="favicon.ico">
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="95cfa4af01492979fb779913-text/javascript"></script>
<script type="95cfa4af01492979fb779913-text/javascript"> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-4161171709893056", enable_page_level_ads: true }); </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-116309064-2" type="95cfa4af01492979fb779913-text/javascript"></script>

<script type="95cfa4af01492979fb779913-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-116309064-2');
</script>
